@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,300&display=swap');

body {
    padding-top: 5%;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}


.Game-Over {

    padding: 0;
    margin: 0;
    background-color: red;
    color: white;
    visibility: visible;
    position: absolute;
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*align-content: center;*/
}

.Game-Over h1 {
    font-family: 'Staatliches', cursive;
    font-size: 5em;
    margin: 0;
}

.Game-Over p {
    font-family: 'Staatliches', cursive;
    padding: 10%;
    text-align: center;
    letter-spacing: 0.15em;
    font-size: 190%;
    margin: 7% 0 10%;
}

.button-container {
    font-family: 'MuseoModerno', cursive;
    position: absolute;
    bottom: 10%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    height: 25%;
}

.box-button {
    font-family: 'Staatliches', cursive;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-button button {
    font-family: 'Staatliches', cursive;
    font-size: 1.5em;
    letter-spacing: 0.2em;
    height: 3em;
    width: 12em; 
    border: none;
    border-radius: 15%;
}

.ingame {
    height: 0px;
}

.score {
    position : absolute;
    bottom: 1%;
    font-family: 'MuseoModerno', cursive;
}

.title {
    position : absolute;
    top: 0;
    font-family: 'MuseoModerno', cursive;
}

.welcome {

    padding: 0;
    margin: 0;
    background-color: #2147FC;
    color: white;
    visibility: visible;
    position: absolute;
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.welcome h1 {
    font-family: 'MuseoModerno', cursive;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2%;
    text-align: center;
    font-size: 3.5em;
}

.welcome h1 span {
    font-size: 1.3em;
    font-weight: 700;
}

.quotes {
    position: absolute;
    top: 31%;
    width: 100%;
    font-family: 'Staatliches', cursive;
    font-size: 1.3em;
    letter-spacing: 0.1em;
}

.quote {
    margin-left: 5%;
    font-weight: lighter; 
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    margin-top: 5%;
    margin-bottom: 1%;
}

.author {
    text-align: end;
    margin-right: 5%;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    margin-top: 1%;
}


.hard:hover {
    color:white;
    background-color: #F02BB5;
}

.medium:hover {
    color:white;
    background-color: #FFFF00;
}

.easy:hover {
    color:white;
    background-color: #00FA09;
}

.legend:hover {
    color:white;
    background-color:black;
}

.highScore {
    position: absolute;
    bottom: 38%;
}